@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.confirm-message {
    // width: 100%;
    // display: flex;
    // justify-content: center;
    // background: #ffffff3d;
    // padding: 2em;
    padding: 0 0 20px;
    color: #000;
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 0px);
    flex-wrap: wrap;

    background: linear-gradient(270deg, #0003a1, #5900a1, #0099a1);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 9s ease infinite;
    -moz-animation: AnimationName 9s ease infinite;
    -o-animation: AnimationName 9s ease infinite;
    animation: AnimationName 9s ease infinite;

    @-webkit-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @-moz-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @-o-keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @keyframes AnimationName {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .form {
        width: 500px;
        max-width: 90%;
        margin: auto;
        background-color: #ffffff;
        padding: 2em;
        border-radius: 5px;
        color: #464646;
        header {
            font-size: 1.5em;
            font-family: "Roboto", sans-serif;
            font-weight: 300;
            text-align: center;
        }

        p {
            text-align: center;
        }

        .input-form {
            display: flex;
            margin: 5px;
            text-align: left;
            justify-content: start;
            flex-wrap: wrap;
            align-items: center;
            label {
                padding: 5px 0;
            }

            input {
                width: 100%;
                border: 1px solid #00000021;
                border-radius: 5px;
                padding: 10px;
            }

            input[type="checkbox"] {
                width: max-content;
            }
        }

        .submit-button {
            border: 0;
            background: #1d1d1d;
            color: #fff;
            font-size: 1.2em;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
